body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Activity 1 styles */
  .content1 {
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      max-width: 600px;
      justify-items: center;     
  }
  
  .red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column:1 / 3;
  }
  
  .green1 {
    width: 200px;
    height: 200px;
    background-color: green;
  }
  
  .gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
  }
  
  .blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column:1 / 3;
  }
   
  /* Activity 2 styles */

  .content2{
    width: 100px;
    position: relative;
  }
  .red2 {
    height: 100px;
    background-color: red; 
  }
  
  .green2 {
    height: 100px;
    background-color: green; 
    position: relative;
    left: 50px;
    top: -50px;
  }
  
  .gold2 {
    height: 100px;
    background-color: gold;
    position: relative;
    left: 100px;
    top: -100px;
  }
  
  .blue2 {
    height: 100px;
    background-color: blue;
    position: relative;
    left: 150px;
    top: -150px;
  }

/* Activity 3 styles */

  .content3{
    display:grid;
    grid-template-columns: 5fr 1fr;
    max-width: 600px;

  }
  
  .red3 {
    width: 100%;
    height: 100px;
    background-color: red; 
    grid-column: 1 /  3;
  }
  
  .green3 {
    width: 270px;
    height: 200px;
    background-color: green; 
    
    
  }
  
  .gold3 {
    width: 270px;
    height: 200px;
    background-color: gold;
    align-self: end;
    
    
  }
  
  .blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1 / 3;
    
  
  }

/* Activity 4 styles */

  
   .content4{
    position: relative;
    display:grid;
    width: 600px;
    grid-template-columns: 1fr 1fr;
  }
  .red4 {
      width:100%;
      height: 300px;
      background-color: red; 
      grid-row:1/4;
      
    }
    
    .green4 {
      background-color: green;
      height: 100px;
      width: 300px;
      
    }
     
    .gold4 {
      background-color: gold;
      height: 100px;
      width: 300px;
      }
    
    .blue4 {
      background-color: blue;
      height: 100px;
      width: 300px;
    }
  
  /* Activity 5 styles */


  .red5 {
    width: 600px;
    height: 100px;
    background-color: red;
  }
  
  .green5 {
    background-color: green;
    height: 200px;
    width: 200px;
    float:left;
    margin:0px 40px 40px 0px;
  }
   
  .gold5 {
    background-color: gold;
    height: 400px;
    width: 600px;
    }
  
  
  .paragraph{
      text-align: justify;
      padding: 10px;
      margin: 0;
  }
  
  .blue5 {
    width: 600px;
    height: 100px;
    background-color: blue;
  }
  
  /* Activity 6 styles */

  .content6 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
  }

  .red6 {
      width: 400px;
      height: 200px;
      background-color: red;
      z-index: -2;
      grid-column: 1/3;
      grid-row: 1/3;
    }


  .green6 {
    background-color: green;
    height: 200px;
    width: 200px;
    grid-column: 1/3;
    grid-row: 5/6;
    
  }
     
  .gold6 {
    background-color: gold;
    height: 400px;
    width: 200px;
    grid-column: 5/6;
    grid-row: 3/6;
      }
    
  .blue6 {
    background-color: blue;
    height: 400px;
    width: 400px;
    z-index: -1;
    grid-column: 2/6;
    grid-row: 2/6;

  }


