body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Activity 1 styles */
  .content1 {
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      max-width: 600px;
      justify-items: center;     
  }
  
  .red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column:1 / 3;
  }
  
  .green1 {
    width: 200px;
    height: 200px;
    background-color: green;
  }
  
  .gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
  }
  
  .blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column:1 / 3;
  }
   
  /* Activity 2 styles */

  .content2{
    width: 100px;
    position: relative;
  }
  .red2 {
    height: 100px;
    background-color: red; 
  }
  
  .green2 {
    height: 100px;
    background-color: green; 
    position: relative;
    left: 50px;
    top: -50px;
  }
  
  .gold2 {
    height: 100px;
    background-color: gold;
    position: relative;
    left: 100px;
    top: -100px;
  }
  
  .blue2 {
    height: 100px;
    background-color: blue;
    position: relative;
    left: 150px;
    top: -150px;
  }
  