
body{
  font-family:sans-serif;
  display:grid;
  justify-content: center;
  align-items:center;
  height:100vh;

}

img {
    max-width: 100%;
  }

  .card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white;
    text-align:justify;
    margin:0 auto;
    display: grid;
  }

  .viewbutton{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    background-color:transparent;
    display:inline-block;
  }

  .editbutton{
    list-style-type: none;
    display: inline;
    background-color: white;
    display:inline-block;
  }


.time{
    float: right;
}

p{
  margin:10px;
  
}

footer{
  margin:10px;
}

.viewbutton .editbutton{
  background-color: white; 
  border: 1px solid gray; 
  color: gray; 
  padding: 10px 24px; 
  cursor: pointer;
  float: left; 
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group button:hover {
  background-color: #a392ec;
}