
body{
  
  font-family:sans-serif;
  display:grid;
  justify-content: center;
  align-items:center;
  height:100vh;
}

img {
    max-width: 100%;
  }

.card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    background-color: white;
    text-align: justify;
    display: grid;
  }

p{
    margin:10px;
    justify-content: center;
  }

  .viewbutton{
    background-color: white;
    color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 5px;
    border-right: none;
  }

  .editbutton{
    background-color: white;
    color:gray;
    border-style: solid;
    outline: none;
    float: left;
    border-width: 1px;
    padding: 5px;
  }


.viewbutton:hover{
  background-color: #cdc5f1;
}

.editbutton:hover {
  background-color: #cdc5f1;
}

footer{
  margin:10px;
  display:grid;
  align-items: center;
  justify-content: center;
  grid-template-columns:70px 70px 1fr;
}

span{
  text-align: right;
  color:gray;
}