
body{
  font-family:sans-serif;
  display:grid;
  justify-content: center;
  align-items:center;
  height:100vh;
}

img {
    max-width: 100%;
  }

.card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white;
    margin:0 auto;
    display: grid;
  }

p{
    margin:10px;
  }

  .viewbutton{
    padding: 5px;
    border-right: none;
    background-color: white;
    border: 1px solid gray;
    color:gray;
  }

  .editbutton{
    padding: 5px;
    float:left;
    background-color: white;
    border: 1px solid gray;
    color:gray;
  }


.button:hover {
  background-color: #a392ec;
}

footer{
  margin:10px;
  display:grid;
  align-items: center;
  justify-content: center;
  grid-template-columns:70px 70px 1fr;
}

span{
  text-align: right;
}