img {
    max-width: 100%;
  }

  .card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white;
    text-align:justify;
    margin:0 auto;
    display: grid;
    justify-content: center;
    
  }

  .viewbutton{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    background-color: Transparent;
    
  }

  .editbutton{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    background-color: Transparent;
  
  }

.time{
    float: right;
    padding-right: 10px;
}
