:root {
    --primary-color: #64bd5a;
    --secondary-color:#32e2ad ;
    --accent1-color: #6A8D73;
    --accent2-color: #F0A868;
    --paragraph-font: Lato, Helvetica, sans-serif
}


nav li {
    font-family: "Lato", "Helvetica", sans-serif;
    padding-left: 100px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
	font-size: 16px;
}

Header {
    background-color:#8149;
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
}

header img {
	width: 100px;
	height: auto;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}
nav{
	background-color:(rgb(39, 139, 60));
	line-height: 3em;
	text-align: center;
	front-size:1.2 em;
	display: block;
}

.nav{
	list-style-type:none;
	display: flex;
}

.nav li{
	 flex: 1 1 auto;
}
	
main{
    max-width: 400px
    margin: 0 auto;
}


h1 {
	font-size: 2rem;
    text-shadow: 2px 2px #898989;
    color: #F59CA9;
    padding-right: .3em;
}

 footer {background-color:#8816
        max-width: 960px;
		margin: 0 auto;
		display:flex;
      }