body{background-color:#1234;}

Header {background-color:#8742;
}

main{
    max-width: 960px
    margin: 0 auto;
}

    h2 {color: black}

    p{background-color:pink
    color: black}

footer {background-color:#8816
        max-width: 960px;
        margin: 0 auto;
      }