<style>
.flex-container{
display:flex;
background-color:
}

<div class="flex-container">
  <div>Home</div>
  <div>Amenities</div>
  <div>Temple Spotlight</div>  
  <div> Reservations </div>
</div>

body{background-color:#1234;
	padding: 0;
	margin: 8 px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

Header {background-color:#8149;
    padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100px;
	height: auto;
}

nav{
	background-color:(rgb(39, 139, 60));
	line-height: 3em;
	text-align: center;
	front-size:1.2 em;
	display: block;
}

.nav{
	list-style-type:none;
	display: flex;
}

.nav li{
	 flex: 1 1 auto;
}
	
main{
    max-width: 400px
    margin: 0 auto;
}


h1 {
	font-size: 2rem;
    text-shadow: 2px 2px #898989;
    color: #F59CA9;
    padding-right: .3em;
}

Header footer {background-color:#8816
        max-width: 960px;
		margin: 0 auto;
		display:flex;
      }