@import url('<link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat:wght@200&display=swap" rel="stylesheet">');
:root {
    --primary-color:#8BB174;
    --secondary-color:#2A4849;
    --accent1-color: #B5CA8D;
    --accent2-color:white;
    --font-family: Lato, Helvetica, sans-serif;
}
html {
    background-color: var(--primary-color);
}
nav li {
    padding-left: 100px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

body {
	background-color:var(--accent2-color);
	max-width: 900px;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    padding: 10px
}
img {
    max-width: 100%
}

h1 {
	font-size: 2rem;
    text-shadow: 2px 2px whitesmoke;
    color:var(--secondary-color);
    padding-right: .3em;
}

header,footer{
	background-color:var(--accent1-color);}

Header {
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
}
.heading{display: flex;}

header img {
	width: 100px;
	height: auto;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}
	
main {
		background-color: white;
		margin-top: -16px;
		margin-bottom: -16px;
}
footer p {
		color:black;
        display:  flex;
        margin-bottom: 30px;
        margin-top: 30px;
        box-sizing: border-box;
        align-items: right;

        
       
        
       
        
    }
footer img {
    width: 35px;
    height: 35px;
    padding: 15px
}

.social{
    float: right;
    width: 30%;
    margin-top: -450px;
    text-align: right;}

