@import url('<link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat:wght@200&display=swap" rel="stylesheet">');

@media screen and (max-width: 550px) {
    .______ {
      display: block;}}


:root {
    --primary-color:#8BB174;
    --secondary-color:#2A4849;
    --accent1-color: #B5CA8D;
    --accent2-color:white;
    --font-family: "Lato", Helvetica, sans-serif;
}
html {
    background-color: var(--primary-color);
}
nav li {
    padding-left: 100px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

main{
    max-width: 960px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    }
.banner-box img {
    grid-column: 1 / -1;
    grid-row:1;
  
}    
.action {
    grid-column: 1/-1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    text-align: center;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: #F7C59F;
    font-size: 1.2em;
}

body {
    background-color:var(--accent2-color);
	max-width: 960px;
    font-size: 16px; 
    margin: 0 auto;  
}
h1 {
	font-size: 2rem;
    text-shadow: 2px 2px whitesmoke;
    color:var(--secondary-color);
    padding-right: .3em;
}

header,footer{
    max-width: 900px;
	background-color:var(--accent1-color);}

Header {
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
}
.heading{display: flex;}

header img {
	width: 100px;
	height: auto;
}

header, main, footer {
    max-width: 960px;
}

.p1{
    text-align: center;
    grid-column: 1/2;
    padding:20px;
   
}

.sectionimage1{
    grid-column: 2/3;
    justify-self: center; 
}

main img{
    border: 10px solid #B5CA8D;
    box-shadow: 5px 5px 5px #999;
}

.p2{
    grid-column: 2/3;
    text-align: center;
}
.sectionimage2{
    grid-column: 1/2;
    grid-row: 3;
    justify-self: center;
  
}

.section3 {
    grid-column: 1/3;
    margin: 20px;
    text-align: center;
}


.icons p {
    display: flex;
    font-family: Arial;
    justify-content: center;
    padding: 5px;
    
    }


.icons{
    margin:2px;
}

footer img {
    width: 35px;
    height: 35px;
    padding: 15px
}

.map {
    display:flex;
    flex-direction: row;
    margin:2px 2px -30px 2px;
}
.phone {
    display:flex;
    flex-direction: row;
    margin:2px 2px 2px 2px;
}

.email {
    display:flex;
    flex-direction: row;
    margin:-25px 2px -30px 2px;
}
.social {
    float:right;
    text-decoration: none;
}

.finalp{
    text-align: center;
    padding: 1rem;
    background-color:#EFEFD0;


}
