:root {
    --primary-color: #aab7f3;
    --secondary-color:#32e2ad ;
    --accent1-color: #e7d885;
    --accent2-color:white;
    --font-family: Lato, Helvetica, sans-serif;
}
html {
    background-color: var(--primary-color);
}
nav li {
    font-family: "Lato", "Helvetica", sans-serif;
    padding-left: 100px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

body {
	background-color:var(--accent2-color);
	max-width: 900px;
    margin: 0 auto;
    padding: 0;
	font-size: 16px;
}
img {
    max-width: 100%
}

h1 {
	font-size: 2rem;
    text-shadow: 2px 2px whitesmoke;
    color: #F59CA9;
    padding-right: .3em;
}

header,footer{
	background-color:#8149}

Header {
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
}

header img {
	width: 100px;
	height: auto;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}
	
main {
		background-color: white;
		margin-top: -16px;
		margin-bottom: -16px;
}


footer p {
		color: white;
		display:  flex;
		font-size: 1rem;
	
	}