

:root {
    --primary-color:#FEFCEB;
    --secondary-color:;
    --accent1-color: #704D33;
    --accent2-color: #EECB95;
    --font-family: "Lato", Helvetica, sans-serif;
}
html {
    background-color: #F3D9B1;
}

body {
    background-color:white;
	max-width: 960px;
    font-size: 16px; 
    margin: 0 auto;  
    text-decoration: none;
}

/*home*/

header {
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:var(--accent2-color);
}

.heading{display: flex;}

nav li {
    padding-left: 100px;
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    margin: 2px;}

body {
    max-width: 1060px;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
}

h1{
    color:var(--accent1-color);
    text-shadow: 2px 2px whitesmoke;
}
nav ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color:var(--accent2-color);
}

main{
    display:grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--primary-color);
}

.section1{
    text-align: center;
    padding: 20px;
    grid-column: 1/3;
}

.section2{
    grid-column: 1/2;
    grid-row: 7/8;
    text-align: center;
    padding:20px;
}

.section2-1{
    grid-column: 2/3;
    grid-row: 7/8;
    align-items:center;
    justify-content:center;
    padding:20px;
}

section h2{
    text-align:center;
}

.section1 p{
    grid-column: 1;
    padding: 20px;
    text-align:center;
}

footer{
    background-color:var(--accent2-color);
}

.finalp{
    text-align:center;
    background-color: #f3ffc6;
}

.icons{
    text-align: center;
}

.section2-1 ul{
    list-style-type:none;
    text-align: center;
}

.image1 p{
    grid-column:1/2;
    grid-row: 3/4;
}

.image1 {
    justify-self: center;
  
}
.p1{
    text-align:center; 
    margin: auto;
    animation: slideh linear 10s infinite;
    display:flex;
    position:relative;
    top:0;
    right:0;
}

ul a:hover {
    background-color: var(--accent2-color);
}

.banner{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


/*contact us*/

ul{
    list-style-type:none;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

input{     
    margin-bottom: 15px;
    width: 150px;
    padding: 4px 9px;
    }
    
textarea{
    height: 100px;
    display: block;
    margin: 0 auto;
    padding: 4px 9px;
    margin-bottom: 15px;
}

.contact-us-form{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.button{
    text-align: center;
}

/*recipes*/

.recipes-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;

}

.sweet1{
    display: grid;
    padding:20px;
    align-items: center;
    justify-content: center;
}

.sweet1 img{
    margin: 0 auto;

}


.sweet1 p{
    text-align: center;
}


/* locations*/

.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container figure:hover img{
    filter:grayscale(100%);
    transform:scale(1.1) rotate(-1deg);
}

figcaption{
     color:#2A4849;
     font-weight: bold;
     font-size: 20px;
     text-align: center;
     transition:1s;    
}

