
body {
    background-color: var(--accent2-color);
    max-width: 960px;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}
.contact-us-form{
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #B5CA8D;
    padding: 25px;
}
form{
    text-align: center;
    margin-top: 10%;
    box-sizing: border-box;
    display: table;
    clear: both;
    margin:0 auto;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
      }

input{     
    margin-bottom: 15px;
    width: 150px;
    padding: 4px 9px;
    }
    
textarea{
    height: 100px;
}