@import url(https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat:wght@200&display=swap)
:root {
    --primary-color:#FEFCEB;
    --secondary-color:;
    --accent1-color: #704D33;
    --accent2-color: #8FC0A9;
    --accent3-color:#696D7D;
    --font-family: "Lato", Helvetica, sans-serif;
}
html {
    background-color: #C8D5B9;
}

body {
    background-color:white;
    max-width: 1060px;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 25px;
}


/*home*/

header {
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:var(--accent2-color);
}

nav li {
    display: inline-block;
    padding: 10px;
    margin: 2px;}

h1{
    color:var(--accent1-color);
    text-shadow: 2px 2px whitesmoke;
}


main{
    display:grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--primary-color);
}

.section1{
    text-align: center;
    padding: 20px;
    grid-column: 1/3;
}

.section2{
    grid-column: 1/2;
    grid-row: 7/8;
    text-align: center;
    padding:20px;
    color: var(--accent3-color);
    font-weight: bold;
}

.section2-1{
    grid-column: 2/3;
    grid-row: 7/8;
    align-items:center;
    justify-content:center;
    padding:20px;
    font-weight: bold;
}

section h2{
    text-align:center;
   
}

.section1 p{
    grid-column: 1;
    padding: 20px;
    text-align:center;
    color:var(--accent3-color);
    font-weight: bold;
}


footer{
    background-color:var(--accent2-color);
}

.finalp{
    text-align:center;
    background-color: #f3ffc6;
}

.icons{
    text-align: center;
}

.section2-1 ul{
    list-style-type:none;
    text-align: center;
    color: var(--accent3-color);
}

.image1 p{
    grid-column:1/2;
    grid-row: 3/4;
}

.image1 {
    justify-self: center;
  
}
.p1{
    text-align:center; 
    margin: auto;
    display:flex;
    position:relative;
    top:0;
    right:0;
    color: var(--accent3-color);
    font-weight: bold;
}

ul a:hover {
    background-color: var(--accent2-color);
}

.banner{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.section1{
    border: 1px solid #B5CA8D;
    margin: 100px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 10px;
}

.navli{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


h2{
    color:var(--accent2-color) ;
    font-weight: bold;
    text-align: center;
}


img.center{
    box-shadow: 10px 10px 10px #696D7D;
}


/*contact us*/

ul{
    list-style-type:none;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

input{     
    margin-bottom: 15px;
    padding: 4px 9px;
    }
    
textarea{
    height: 100px;
    display: block;
    margin: 0 auto;
    padding: 4px 9px;
    margin-bottom: 15px;
}

.contact-us-form{
    display: grid;
    justify-content: center;
    margin: 20px;
}

.button{
    text-align: center;
}

/*recipes*/

.recipes-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;

}

.sweet1{
    display: grid;
    padding:20px;
    align-items: center;
    justify-content: center;
}

.sweet1 img{
    margin: 0 auto;

}


.sweet1 p{
    text-align: center;
}


/* locations*/

.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    grid-gap: 5%;
}
 


.container{
    position: relative;
    text-align: center;
}

.text-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h2-locations{
    color: black;
    text-shadow: 5px 2px whitesmoke;

}

.container:hover  {
    opacity: 0.3;
  }

.banner-chocolate{
    opacity: 0.70;
}

.icons{
    padding: 20px;

}