@import url(https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat:wght@200&display=swap)
@media screen and (max-width: 550px) {main {display : block;} }
:root {
    --primary-color:#d3eca3;
    --secondary-color:#2A4849;
    --accent1-color: #B5CA8D;
    --accent2-color:white;
    --font-family: "Lato", Helvetica, sans-serif;
}
html {
    background-color: var(--primary-color);




ul{
    list-style-type: none;
    display: inline;
}